@model EasyTripMVC.Models.Classes.Blog
@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="container"> Blog Güncelleme Sayfası</h3>

<form class="form-group" method="post">
    @Html.HiddenFor(x => x.BlogID)
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x=>x.Date, new { @class = "form-control" })
    <br />
    <label>Resim URL</label>
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description,12,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>

</form>

