@model List<EasyTripMVC.Models.Classes.Contact>
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="container">Gelen Mesajlar</h3>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>E-Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>
 
     
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ContactID</th>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.Message</td>
            <td><a href="/Contact/DeleteMessage/@item.ContactID" class="btn btn-outline-danger">Sil</a></td>
           
        </tr>
    }


</table>

